[submodule "Paper/vendor/spdlog"]
	path = Paper/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Paper/vendor/GLFW"]
	path = Paper/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
